# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Environments & Secrets
.env
.env.local
.env.*.local

# Logs and databases
*.log
*.sqlite

# Operating System files
.DS_Store
Thumbs.db

# IDE and Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
